html,body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#todoForm {
    width: 409px;
    background-color: #FFF3F3;
    height: 100%;
    margin:  0 auto;
}
#imgtop {
    width: 100%;
    height: 200px;
}
#enteron{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
}
#Form {
    width: 100%;
    height: max-content;
    display: flex;
}